{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Posts</title>
</head>
<body>
    <h1>Posts</h1>
    <div class="posts">
        <!-- To access data we use -->
        {% for post in posts %}
            <div class="post">
                <!-- To put data we use -->
                <h2><a href="#">{{ post.title }}</a></h2>
                <!-- We don't have to call the model's method snippet, just like that is cool -->
                <p>{{ post.snippet }}</p>
                <p> {{ post.date }} </p>
            </div>
        {% endfor %}
    </div>
</body>
</html>